<section class="home">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="home-link">
        <a href="#" routerLink="/games">
          <div class="home-container">
            Juegos
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="home-link">
        <a href="#" routerLink="/consoles">
          <div class="home-container">
            Consolas
          </div>
        </a>
      </div>
    </div>
  </div>
  <img src="images/homeimg.jpeg" class="img-fluid mb-2"/>
</section>

